<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head')  %>
<title><%= blog.title  %></title>
</head>
<body style="background-color: #8a58bd; color: rgb(219, 212, 212);">
    <%- include('./partials/navbar')  %>
    <div style="display: flex; justify-content: center;">
    <h1 style="text-align: center; display: inline-block; text-transform: capitalize; color: whitesmoke; border-bottom: 2px solid rgb(224, 219, 219); width: fit-content;"><%= blog.title %></h1>
</div>
    <div style="display: flex; justify-content: center;">
    <img  class="imj" <%= blog.coverImageUrl %> alt="">
    <div class="bxt"><%= blog.body  %></div>
    </div>


    <%- include('./partials/scripts')  %>
</body>
</html>